{%- from "print_if.jinja2" import print_if with context -%}

{{- print_if("\npublic:\n", mem_vars) -}}
{%- for v in mem_vars %}
    {% set info = " // " + v.address_hex|string if PRINT_MEM_VAR_INFO else "" %}
    {{ v.type.no_extent_type }} {{ v.namespaceless_name }}{{ v.type.array_subscript or "" }} = {}; {{ info }}
{% endfor -%}
