{%- from "print_if.jinja2" import print_if with context -%}

{# Macros #}
{# Function declaration (Eg.: Function with no body) #}
{%- macro fn_decl(fn, name, ret_type=fn.ret_type) %}
{% if ret_type %}{{ ret_type }} {% endif %}{{ name }}({{ fn.param_name_types }})
{%- endmacro -%}

class {{ class_name }} {
{# Static variables #}
{% if USE_STATIC_INLINE %} {# Declaration + Definition using `static inline` #}
    {%- include 'header/static_inline_vars.jinja2' %}
{%- else -%} {# Just declarations #}
    {%- include 'header/static_vars.jinja2' %}
{%- endif -%}
{% include 'header/member_vars.jinja2' %}

public:
    static void InjectHooks();

{% if dtor %}
    {{ fn_decl(dtor, '~' + class_name, none) }};
{% endif -%}

{%- for fn in ctors %}
    {{ fn_decl(fn, class_name, none) }};
{% endfor %}

{% for fn in static_fns %}
    static {{ fn_decl(fn, fn.name) }};
{% endfor %}

{% for fn in methods %}
    {{ fn_decl(fn, fn.name) }};
{% endfor %}

{% for fn in virtual_methods %}
    virtual {{ fn_decl(fn, fn.name) }};
{% endfor -%}

{{ print_if("private:", dtor or ctors|length) }}
{% include 'header/constructror.jinja2' %}
{% include 'header/destructror.jinja2' %}

{# Virtual method _Reversed wrappers (Which just redirect to this class's virtual function) #}
{% for fn in virtual_methods %}
    {{ fn.ret_type }} {{ fn.name + "_Reversed"}}({{ fn.param_name_types }}) { return {{ class_name }}::{{ fn.name }}({{ fn.param_names }}); }
{% endfor %}
};{# End of class #}
{% if class_size and class_size != '0x0' %}
VALIDATE_SIZE({{ class_name }}, {{ class_size }});
{% endif %}
