{%- macro print_if(msg, cond) -%}
{%- if cond -%}
{{ msg }}
{%- endif -%}
{%- endmacro -%}

{%- macro print_if_array_not_empty(msg, a) -%}
{%- if a and a|length -%}
{{ msg }}
{%- endif -%}
{%- endmacro -%}
