{% from "function_def.jinja2" import function_def -%}

{%- call function_def(fn, class_name, false, none) %}
    assert(false && "Constructor not reversed"); // TODO: Reverse constructor
{%- endcall %}
{{ "}" }}
