    {{ function_def(fn, class_name, none) }}
    {% call function_def(fn, 'Constructor', class_name + '*') %}
    this->{{ class_name }}::{{ class_name }}({{ fn.param_names }});
    return this;
    {% endcall %}