    {{- function_def(dtor, '~' + class_name, none) }}
    {% call function_def(dtor, 'Destructor', class_name + '*') %}
    this->{{ class_name }}::~{{ class_name }}({{ dtor.param_names }});
    return this;
    {% endcall %}