{# Returns the name of the function we should take the address of #}
{%- macro real_function_name(fn) -%}
    {%- if fn.is_ctor -%}
        Constructor
    {%- elif fn.is_dtor -%}
        Destructor
    {%- elif fn.is_virtual and WRAP_VIRTUALS -%}
        {{ fn.name }}_Reversed
    {%- else -%}
        {{ fn.name }}
    {%- endif -%}
{%- endmacro -%}

{%- macro overloaded_cast_of(fn) -%}
    {{fn.ret_type}}({{ '*' if fn.is_static else class_name + '::'  }}*)({{ fn.param_types }})
{%- endmacro -%}

{%- macro install_of(fn) -%}
{# This way we can have half as much code #}
{%- set overloaded_str = 'Overloaded' if fn.is_overloaded else '' -%}
{%- if fn.is_static  -%}
    RH_ScopedGlobal{{overloaded_str}}Install
{%- elif fn.is_virtual -%}
    RH_Scoped{{overloaded_str}}VMTInstall
{%- else -%}
    RH_Scoped{{overloaded_str}}Install
{%- endif -%}
{%- endmacro -%}

{% set hook_disabled_locked = ", { .reversed = false }" %}
{% set hook_enabled = "" %}

{%- macro do_injects_for(list, name) -%}
{%- if list and list|length -%}
{% for fn in list %}
    {% set additional_args = hook_enabled if fn.is_hooked else hook_disabled_locked %}
    {%- if fn.is_overloaded -%}
        {{install_of(fn)}}({{real_function_name(fn)}}, "", {{fn.address}}, {{overloaded_cast_of(fn)}}{{additional_args}}}});
    {% else -%}
        {{install_of(fn)}}({{real_function_name(fn)}}, {{fn.address}}{{additional_args}});
    {% endif -%}
{% endfor %}

{%- endif -%}
{%- endmacro -%}

void {{ class_name }}::InjectHooks() {
    {% if vtbl_addr %}
    RH_ScopedVirtualClass({{ class_name }}, {{ '%#x' % vtbl_addr }}, {{ vtbl_size }});
    {% else %}
    RH_ScopedClass({{ class_name }});
    {% endif %}
    {% if CATEGORY %}
    RH_ScopedCategory("{{ CATEGORY }}");
    {% else %}
    RH_ScopedCategory(); // TODO: Change this to the appropriate category!
    {% endif %}

{{ do_injects_for(functions[FunctionType.CTOR], "Constructors") | indent(4) }}
{{ do_injects_for([functions[FunctionType.DTOR]] if functions[FunctionType.DTOR] else [], "Destructors") | indent(4) }}
{{ do_injects_for(functions[FunctionType.STATIC], "Static functions") | indent(4) }}
{{ do_injects_for(functions[FunctionType.METHOD], "Methods") | indent(4) }}
{{ do_injects_for(functions[FunctionType.VIRTUAL], "Virtual functions[FunctionType.METHOD]") | indent(4) }}
}
